In [1]:
print("name")

name

In [2]:
# Python Indentiation

# Indentation refers to the spaces at the begning of a code line

if 5 > 2:
    print("Five is greater than two")

Five is greater than two

In [3]:
# Python will give us error if we skip the indentation:

if 5 > 2:
print("Five is greater than two")

IndentationError: expected an indented block (2936954161.py, line 4)

In [4]:
print("cheers,mate")

cheers,mate

In [5]:
# for multiple line commens we can usse triple double quotes or triple single quotes

""" this a a comment
written in more than one line """
print("helo")

helo

In [6]:
# Python variables

# In python variables are created when we assign a value to it:

# Variables are containers for storing data values

x = 5
y = "Hello"

print(x)
print(y)

5
Hello

In [7]:
x= 4 # x is integer

x = "Salary" # now x is type str

print(x)

Salary

In [8]:
# Casting

# if we want to specify the data of the type of variables, this can be donw with casting

x = str(3)  # x wil be '3'
y = int(3)  # y will be 3
z = float(3) # z will be 3.0

print(x,y,z)

3 3 3.0

In [9]:
# Legal variable names

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "Johnn"
myvar2 = "JOhn"

In [10]:

# Illegal variable names

2myvar = "John"
my-var = "John"
my var = "john"

SyntaxError: invalid syntax (665612658.py, line 3)

In [11]:
# Assigning multiple variables

x, y, z = "orange", "Banana", "Cherry"

print(x, y, z)

orange Banana Cherry

In [12]:
# one value to multiple variables
x = y = z = "oranges" 
print(x,y,z)

oranges oranges oranges

In [13]:
# output variables

# the python print statement is often used to output variables

# to combine both text and a variable, python uses the + character

x = 'awesome' 
print("python is " + x)

# alternate ways

print("python is ", x)

python is awesome
python is  awesome

In [14]:
x = "python is "
y = "awesome"
z = x + y
print(z)


x = 5
y =5
print(x+y)

python is awesome
10

In [15]:
# if we try to combine a string and a number, python will give us error

x = 5
y = "John"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
# now to overcome the above error
# convert integer to string

print(str(x),y)

print(str(x) + y)

NameError: name 'x' is not defined

In [16]:
# Built-in Data Types
"""
Text Type: str
Numeric Types : int, float, complex
Sequence Types : list, tuple, range
Mapping Type : dict
Set types : set, frozenset
Boolean type : bool
Binary Types : bytes, bytearray, memoryview

"""

'\nText Type: str\nNumeric Types : int, float, complex\nSequence Types : list, tuple, range\nMapping Type : dict\nSet types : set, frozenset\nBoolean type : bool\nBinary Types : bytes, bytearray, memoryview\n\n'

In [17]:
# We can get the data types of any object by using the type() function

x = 5

print(type(x))

<class 'int'>

In [18]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [19]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [20]:
x = 20j
print(x)
print(type(x))

20j
<class 'complex'>

In [21]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [22]:
x = b"Heellloo"
print(x)
print(type(x))

b'Heellloo'
<class 'bytes'>

In [23]:
# Type casting

x = int(1) # x will be in integer, 1
y = int (2.8) # x will be in integer, 2
z = int("3") # x will be in integer, 3

print(x, y,z)

1 2 3

In [24]:
x = float(1) # x will be 1.0, passing float
y = float(2.8) # y will be 2.8, passing float
z = float("3") # z will be 3.0, passing string with integer number
w = float("4.2") # w will be 4.2, passing string with float number

print(x,y,z,w)

1.0 2.8 3.0 4.2

In [25]:
x = str("s1") # x will be 's1', passing string
y = str(2) # y will be '2', passing interger
z = str(3.0) # z will be '3.0', passing float

print("x = ",x, type(x))
print("y " ,y, type(y))
print("z = ",z , type(z))

x =  s1 <class 'str'>
y  2 <class 'str'>
z =  3.0 <class 'str'>

In [26]:
# Operators in Python

x = 5
y = 6
x+y

11

In [27]:
x-y

-1

In [28]:
y-x

1

In [29]:
x*y

30

In [30]:
x/y # float

0.8333333333333334

In [31]:
x//y # integer

0

In [32]:
x%y

5

In [33]:
x**y # power

15625

In [34]:
# Logical operators

x = 5
y = 6
a = 1
b = 1

In [35]:
x == y

False

In [36]:
a ==b

True

In [37]:
x != y

True

In [38]:
a != b

False

In [39]:
x > y

False

In [40]:
x < y

True

In [41]:
a < b

False

In [42]:
a > b

False

In [43]:
x >= y

False

In [44]:
x <= y

True

In [45]:
a >=  b

True

In [46]:
a <= b

True

In [47]:
# Comprehended Operator

x = x + 1
x

6

In [48]:
x +=1
x

7

In [49]:
y = y-1
y

5

In [50]:
y -=1
y

4