In [1]:
print("name")

name

In [4]:
# Python Indentiation

# Indentation refers to the spaces at the begning of a code line

if 5 > 2:
    print("Five is greater than two")

Five is greater than two

In [5]:
# Python will give us error if we skip the indentation:

if 5 > 2:
print("Five is greater than two")

IndentationError: expected an indented block (2936954161.py, line 4)

In [7]:
print("cheers,mate")

cheers,mate

In [9]:
# for multiple line commens we can usse triple double quotes or triple single quotes

""" this a a comment
written in more than one line """
print("helo")

helo

In [11]:
# Python variables

# In python variables are created when we assign a value to it:

# Variables are containers for storing data values

x = 5
y = "Hello"

print(x)
print(y)

5
Hello

In [12]:
x= 4 # x is integer

x = "Salary" # now x is type str

print(x)

Salary

In [13]:
# Casting

# if we want to specify the data of the type of variables, this can be donw with casting

x = str(3)  # x wil be '3'
y = int(3)  # y will be 3
z = float(3) # z will be 3.0

print(x,y,z)

3 3 3.0

In [17]:
# Legal variable names

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "Johnn"
myvar2 = "JOhn"

In [18]:

# Illegal variable names

2myvar = "John"
my-var = "John"
my var = "john"

SyntaxError: invalid syntax (665612658.py, line 3)

In [19]:
# Assigning multiple variables

x, y, z = "orange", "Banana", "Cherry"

print(x, y, z)

orange Banana Cherry

In [20]:
# one value to multiple variables
x = y = z = "oranges" 
print(x,y,z)

oranges oranges oranges

In [23]:
# output variables

# the python print statement is often used to output variables

# to combine both text and a variable, python uses the + character

x = 'awesome' 
print("python is " + x)

# alternate ways

print("python is ", x)

python is awesome
python is  awesome

In [25]:
x = "python is "
y = "awesome"
z = x + y
print(z)


x = 5
y =5
print(x+y)

python is awesome
10

In [27]:
# if we try to combine a string and a number, python will give us error

x = 5
y = "John"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
# now to overcome the above error
# convert integer to string

print(str(x),y)

print(str(x) + y)

5 John
5John

In [30]:
# Built-in Data Types
"""
Text Type: str
Numeric Types : int, float, complex
Sequence Types : list, tuple, range
Mapping Type : dict
Set types : set, frozenset
Boolean type : bool
Binary Types : bytes, bytearray, memoryview

"""

'\nText Type: str\nNumeric Types : int, float, complex\nSequence Types : list, tuple, range\nMapping Type : dict\nSet types : set, frozenset\nBoolean type : bool\nBinary Types : bytes, bytearray, memoryview\n\n'

In [31]:
# We can get the data types of any object by using the type() function

x = 5

print(type(x))

<class 'int'>

In [32]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [33]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [34]:
x = 20j
print(x)
print(type(x))

20j
<class 'complex'>

In [35]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [36]:
x = b"Heellloo"
print(x)
print(type(x))

b'Heellloo'
<class 'bytes'>

In [37]:
# Type casting

x = int(1) # x will be in integer, 1
y = int (2.8) # x will be in integer, 2
z = int("3") # x will be in integer, 3

print(x, y,z)

1 2 3